body {
    padding-left: 150px;
    padding-right: 150px;

}

#description {
    padding-top: 200px;
    padding-bottom: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    #left-aside {
        margin-right: 20px;

        h1 {
            font-size: 50px;
            font-family: 'Permanent Marker', cursive;

        }

        .project-tags {
            margin-top: 40px;
            margin-bottom: 40px;

            ul {
                list-style: none;

                li {
                    display: inline;
                    background-color: #FF72A5;
                    padding: 10px 20px 10px 20px;
                    margin-right: 20px;
                    font-family: 'Mulish', sans-serif;
                    font-size: 15px;
                    color: white;

                }
            }
        }

        #project-description {

            p {
                line-height: 25px;
                
            }

        }

    }

    #right-aside {

        .project-image {
            height: 500px;
            border-radius: 10px;
        }
    }
}

.demos {

    .demo-container {

        .demo-description {

            h3 {
                font-weight: bold;
                font-size: 22px;
                font-family: 'Mulish', sans-serif;
                margin-top: 10px;

                .symbol {
                    font-size: 18px;
                    color: #FF72A5;

                }

                .hexagon {
                    font-size: 25px;
                    color: orangered;

                }
            }
            
            p {

                line-height: 25px;
                margin-bottom: 50px;
    
            }
        }
    
        .demo {
            padding-bottom: 100px;
            display: flex;
            justify-content: center;

            .demo-media {

                width: 800px;
                height: 550px;
            }

        }


    }
    
   
}

@media (max-width: 1263px) {

    #description {

        #right-aside {

            .project-image {
                height: 400px;
            }
        }
    }

}

@media (max-width: 1134px) {

    #description {
        position: relative;
        align-items: center;
        padding-bottom: 500px;

        #left-aside {


            h1 {
                position: absolute;
                top: 100px;
            }

            .project-tags {
                margin-top: 40px;
                margin-bottom: 40px;
    
                ul {
    
                    li {
                        text-align: center;
                        display: block;
                        width: 150px;
                        margin-bottom: 30px;
    
                    }
                }
            }

            #project-description {
                position: absolute;
                top: 630px;
    
            }


        }
    }


}

@media (max-width: 900px) {

    body {
        padding-left: 30px;
    }
  
    #description {
        padding-bottom: 600px;

        #left-aside {

            h1 {
                
                font-size: 43px;

    
            }

            #project-description {
                position: absolute;
                top: 500px;
    
            }

        }

        #right-aside {

            .project-image {
                height: 260px;
            }
        }
    }

    .demo {

        .demo-media {

            width: 600px !important;
            height: 400px !important;
        }
    }


}

@media (max-width: 780px) {

    .demo {

        .demo-media {

            width: 500px !important;
            height: 300px !important;
        }
    }


}


@media (max-width: 610px) {

    .demo {

        .demo-media {

            width: 400px !important;
            height: 200px !important;
        }
    }


}



@media (max-width: 550px) {

    #description {
        padding-bottom: 700px;
    }


}