* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

  
  body {
    //Fade in animation
    animation: fadeInAnimation ease 0.8s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
   

  }



  //Fade in animation
  @keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}
  
  a {
    text-decoration: none;
    cursor: pointer;
  }

  html {
    scroll-behavior: smooth;
  }

  p {
    font-family: 'Mulish';
  }
